html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #FFFFFF;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
    font-family: 'Do Hyeon', sans-serif;
}


#maincontainer{
    margin: auto;
    margin-top: 40px;
    min-width: 480px;
    width: 40%;
    background: lightgrey;
    padding: 30px;
    border-radius: 10px;
}

form {
    width: 100%;
}




label {
    text-align: center;
    font-size: 1.2em;
}

select {

    padding: 10px;
    font-size: 1.3em;
    border-radius: 8px;


}

input[type=text]{
    width: 100%;
    padding: 5px;
    font-family: Consolas;
    border-radius: 5px;
}

input[type=submit]{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 40px;
    font-family: Arial;
    font-size: 1.2em;
    border-radius: 3px;
    margin:auto;
    margin-top: 20px;
    background: darkslategrey;
    color: white;
    border: darkcyan;
}

#type-group{
    display: flex;
    margin: 10px 0 10px 0;
}

#type-group *{
    align-self: center;

}

#type-group select{
    flex-grow: 2;
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
}



#connection{
    position: relative;
    width: 250px;
    transform: translate(-50%);
    left: 50%;
}

.center-div{
    margin: auto;
    width: 120px;
}

#response-text{
    background: white;
    font-size: 1.1em;
    font-family: Serif;
}

.parent-name{
    font-size: 1.1em;
    text-decoration: underline;
}

section {
    margin: 5px 0px 5px 20px;

}

.group{

}

#admin-link{
    color: white;
}

#admin-link:hover{
    color:black;
}

