
p{
    margin: 0px;
    padding: 0px;
}

#maincontainer{
    margin: auto;
    margin-top: 40px;
    min-width: 480px;
    width: 40%;
    background: lightgrey;
    padding: 30px;
    border-radius: 10px;
}

form *{
    display: flex;
    flex-direction: column;
    align-content: center;
}

label {
    text-align: center;
    font-size: 1.2em;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 1.3em;
    margin-bottom: 10px;
}

input[type=text]{
    width: 100%;
    padding: 5px;
    font-family: Consolas;
}

input[type=submit]{
    padding: 10px 40px;
    font-family: Arial;
    font-size: 1.2em;
    border-radius: 3px;
    margin:auto;
    margin-top: 20px;
    background: darkslategrey;
    color: white;
    border: darkcyan;
}

#response-text{
    background: white;
    font-size: 1.1em;
    font-family: Serif;
}

.parent-name{
    font-size: 1.3em;
}

.group {
    margin: 5px 0px 5px 20px;

}

#admin-link{
    color: white;
}

#admin-link:hover{
    color:black;
}

