{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "relreq/style.css" %}"/>
<a id="admin-link" href="../admin/">Admin</a>
<div id="maincontainer">
    <form action="index" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {{ form.source.errors }}
        {{ form.source }}
        <div class="center-div">
            {{ form.connection.errors }}
            {{ form.connection }}
        </div>

        <div id="type-group">


            {{ form.gettype.errors }}
            {{ form.gettype }}
            {{ form.getall.label_tag }}
            {{ form.getall.errors }}

            {{ form.getall }}

        </div>

        {{ form.querydata.errors }}
        {{ form.querydata }}

        <input type="submit" value="Kör">

    </form>
    {% if data %}
        <div id="response-text">
            {{ data|safe }}
        </div>
    {% endif %}

</div>


